In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns; sns.set()
%matplotlib inline

In [2]:
df = pd.read_csv('world-happiness-report-2019.csv')
df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [3]:
df.isnull().sum()

Country (region)            0
Ladder                      0
SD of Ladder                0
Positive affect             1
Negative affect             1
Social support              1
Freedom                     1
Corruption                  8
Generosity                  1
Log of GDP\nper capita      4
Healthy life\nexpectancy    6
dtype: int64

In [4]:
df = df.fillna(method = 'ffill')
df.describe()

,Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP per capita,Healthy life expectancy
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,78.500000,77.814103,78.025641,77.897436,77.935897,75.891026,78.025641,76.506410,75.083333
std,45.177428,45.177428,44.803918,44.744861,44.762049,44.750877,42.661998,44.744861,43.849669,43.319661
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,39.750000,39.750000,39.750000,39.750000,39.750000,39.750000,39.750000,39.750000,38.750000,37.750000
50%,78.500000,78.500000,77.500000,78.500000,77.500000,77.500000,76.500000,78.500000,76.500000,75.500000
75%,117.250000,117.250000,116.250000,116.250000,116.250000,116.250000,113.250000,116.250000,114.250000,112.250000
max,156.000000,156.000000,155.000000,155.000000,155.000000,155.000000,148.000000,155.000000,152.000000,150.000000